* {
	margin: 0;
	padding: 0;
}

body {
	background: url(/images/rodin.png);
	background-repeat: no-repeat;
	padding-top: 50px
}

.login {
    display:block;
    height:85px;
    width:300px;
    background-color:black;
    margin:auto;
    font-size:30px;
    font-weight:bold;
    border-radius:15px;
}

#page {
	color: #DDD;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .5);
	text-align: center;
}
