* {
    margin: 0;
    padding: 0;
}

html {
    height:100%;
}

body {
    position:absolute;
    top:0px;
    left:0px;
    background: url('/images/rodin.png') no-repeat center center fixed;
    min-height:100%;
    height:auto;
    width:100%;
}

#page {
    position:relative;
    color: #EEE;
    width: 800px;
    margin: auto;
    margin-top:75px;
    padding: 50px;
    border-radius: 25px;
    background: rgba(0, 0, 0, .6);
    text-align: left;
    height: 560px;
}

h1 {
    font-size: 600%;
    font-style: italic;
    font-family: 'Droid Serif', serif;
}

h2 {
    font-size: 300%;
    font-style: italic;
    font-family: 'Droid Serif', serif;
}

a.large {
    padding: 14px 34px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#text {
    font-size: 300%;
}

#description {
    margin-top: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#login {
    width: 160px;
    top: 175px;
}