* {
	margin: 0;
	padding: 0;
}

html,body {
  font-family: Verdana, Helvetica, sans-serif;
  color: #333;
  background-color: #FFFFFF;
  height:100%;
}

.note {
    width: 220px;
    min-height: 200px;
    padding: 15px;
    position: absolute;
    background-color: #FFF046;
    cursor: move;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.noteHeader div {
    cursor:text;
    max-width: 210px;
    text-align:center;
    margin: 0px;
    padding: 0px;
}

.noteContent blockquote {
	cursor: text;
	padding: l5px;
	min-height: 20px;
}

#noteArea {
        position:relative;
	width:100%;
	min-height: 100%;
	overflow:auto;
}
.options {
        float: right;
	position: relative;
	top: -10px;
	right: -10px;
	line-height: .9em;
	cursor:pointer;
	border:1px solid black;
}

#logout {
	position: absolute;
	top: 15px;
	right: 15px;
}

.colorSq {
        height:20px;
	width:20px;
	border:1px solid black;
	display: inline-block;
}

.menu {
    width: 80px;
    height: 100px;
    position: absolute;
    z-index: 1000;
    opacity: 1;
    border-radius: 5px;
    background-color: #00FFFF;
}
